@import './mode.scss';

body {
  background-color: var(--background-color);
  color: var(--font-color);
}


.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 20px 10%;
  transform: translateX(0);
  // background-color: var(--background-color);
  z-index: 3;
  a {
    text-align: center;
  }
  @media screen and (max-width: 900px) {
    transform: translateX(-100%);
    flex-direction: column;
    height: 100vh;
    padding:20vh 0;
    background-color: var(--background-color);
  }
}
.show-navbar {
  transform: translateX(0);
  transition: transform 0.5s ease;
}
#bars-btn {
  display: none;
  font-size: 40px;
  padding: 20px 10%;
  z-index: 5;
  width: 100%;
  // background-color: var(--background-color);
  @media screen and (max-width: 900px) {
    display: block;
    position: fixed;
  }
}

.container{
  margin: 20px 50px;
}

.landing {
  p:nth-child(3) {
    opacity: 0.5;
  }
  a {
    margin-top: 20px;
  }
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  position: fixed;
  margin-bottom: 20vh;
  padding:0 10%;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  margin-bottom: 10vh;
  ul {
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
    i {
      padding-right: 10px;
    }
  }
  .profile-pic {
    margin-top: 30px;
    background-image: url("./components/images/profilePic.jpg");
    background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    filter: grayscale(1);
    transition: 0.5s;
    &:hover {
      filter: grayscale(0);
    }
    p {
      background-image: linear-gradient(
        var(--background-color),
        rgba(103, 103, 103, 0)
      );
      width: 50%;
      padding: 30px 10px;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
  .description {
    display: none;
    @media screen and (max-width: 900px) {
      display: block;
    }
  }
}

.primary-btn {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
  border: 1px solid var(--font-color);
  width: fit-content;
  padding: 10px 15px;
  transition: 0.2s;
  &:hover {
    background-color: var(--font-color);
    color: var(--background-color);
  }
}

.fadeOut { opacity: 0; }
.fadeIn { opacity: 1; }
.portfolio{
  padding:100vh 0;
}

.featured-work {
  width: 100%;
  position: relative;

  img,video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    vertical-align: bottom;
  }
  .tools{
    display: flex;
    margin-top: 10px;
    gap: 15px;
    span{
      padding: 0 10px;
      border-radius: 20px;
      border: 2px solid;
    }
  }
  .text-content-overlay{
    background-color: var(--background-color);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 0.7;
  }
  .text-content {
    position: absolute;
    z-index: 2;
    top: 0;
    padding-top:150px;
    padding-left: 10%;
  }
}

.e-mail{
  position: fixed;
  bottom: 151px;
  cursor: pointer;
  transform: rotate(90deg);
  left: -115px;
}

.scroll-direction{
  position: fixed;
  bottom: 100px;
  i{
    margin-left: 20px;
    position: absolute;
    animation: MoveUpDown 1s linear infinite;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-bottom: 20vh;
  padding:0 10%;
  position: fixed;
  bottom: 0;
  z-index: 0;
}


.icons{
  i{
    margin: 10px;
  }
}